body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#form {
  padding: 5px;
  background: #333333;
  border-bottom: 8px solid black;
  color: white;
  text-shadow: 2px 2px #000000;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666;
}

#form select, input {
  background: greenyellow;  
  border: 1px solid black;
  box-shadow: 2px 2px 2px #444444;
  padding: 4px;
}

#form button {
  font-weight: bold;
  background: black;
  color: white;
  border: 1px solid #666666;
  padding: 4px;
}
  
#msgsPublic {
  border-top: 8px solid black;
}

#msgsControls {
  background: lime;
}

#pauseGettingMsgsButton {
  background: black;
  padding: 8px;
  color: red;
  font-weight: bold;
  border: none;
}

#pauseGettingMsgsButton[disabled] {
  background: #333333;
  padding: 8px;
  color: darkred;
  font-weight: bold;
  border: none;
}

#getMsgsButton {
  background: black;
  padding: 8px;
  color: green;
  font-weight: bold;
  border: none;  
}

#getMsgsButton[disabled] {
  background: #333333;
  padding: 8px;
  color: darkgreen;  
  font-weight: bold;
  border: none;  
}

